SQL_SA_PASSWORD=Cartana_Local_1234!
SQL_PORT=1433
REDIS_PORT=6379
API_PORT=5267
FRONTEND_PORT=5173
KEYCLOAK_PORT=8080
KEYCLOAK_ADMIN_USERNAME=keycloak-admin
KEYCLOAK_ADMIN_PASSWORD=Change_this_Keycloak_password_123!
MAILPIT_PORT=8025
